name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.sha }}
      - name: Unshallow
        run: git fetch --prune --unshallow
      - name: Build image
        run: |
          BUILD_IMAGE="snugfox/mcl-build:${{ github.sha }}"
          echo ::set-env name=BUILD_IMAGE::${BUILD_IMAGE}
          docker build -f build/build.Dockerfile -t ${BUILD_IMAGE} .
      - name: Build and release
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./build/release.sh ${BUILD_IMAGE}
